* {
    margin: 0;
    text-align: center;
    background-color:burlywood;
}

.container,.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-top: 36px;
}
img {
    width: 200px;
    height: 200px;
    margin-bottom: 36px;
    padding: 36px 36px;
    outline: 4px solid black;
    border-radius: 12px;
}
.left,.right {
    flex-direction: column;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
h1 {
    margin-top: 12px;
}
